[submodule "vendor/CodeMirror"]
	path = vendor/CodeMirror
	url = https://github.com/codemirror/CodeMirror.git
[submodule "vendor/js-md5"]
	path = vendor/js-md5
	url = https://github.com/emn178/js-md5.git
